.vscode/settings.json
.vscode/.ropeproject/config.py
__pycache__/
resources_rc.py
.vscode/launch.json
ui.py
ui_mainwindow.py
.idea/
ui_optionsdialog.py
ui_aboutdialog.py
build/
venv/
dist/
__init__.spec